@charset "utf-8";
#singleproduct {
  .panicbuying-title {
    background: #f0f0f0;
    line-height: .7rem;
    height: .7rem;
    padding: 0 .2rem;
    .panicbuying-left {
      float: left;
      i {
        height: .26rem;
        float: left;
        width: .03rem;
        display: inline-block;
        background: #faa62d;
        margin-right: .08rem;
        margin-top: .21rem;
      }
      strong {
        font-size: .28rem;
        color: #333333
      }
      span {
        font-size: .24rem;
        color: #999999
      }
    }
    .panicbuying-right {
      float: right;
      color: #666666;
      font-size: .28rem;
      i {
        background: url("../img/countdown-icon.png") no-repeat center center;
        background-size: .26rem .26rem;
        display: inline-block;
        margin-right: .09rem;
        width: .26rem;
        height: .26rem;
        float: left;
        margin-top: .22rem
      }
    }
  }
  .product-name {
    background: #FFFFFF;
    padding: .24rem .2rem .08rem;
    font-size: .32rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      border: 1px solid #E6133C;
      font-size: .24rem;
      display: inline-block;
      border-radius: .06rem;
      padding: 0 .1rem;
      line-height: .32rem;
      color: #E6133C;
      -ms-transform: translateY(-.04rem);
      transform: translateY(-.04rem);
      -webkit-transform: translateY(-.04rem);
      margin-right: .14rem
    }
  }
  .button-container {
    padding-bottom: 1.16rem;
    position: relative;
    z-index: 1005;
    .config-buy {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1rem;
      white-space: nowrap;
      line-height: 1rem;
      font-size: .36rem;
      z-index: 2;
      background: #E6133C;
      text-align: center;
      color: #FFFFFF;
      border: none;
      outline: none
    }
    .no-goods {
      background: #bbbbbb
    }
  }
  .seckill-popup {
    width: 6.28rem;
    height: 6.8rem;
    position: fixed;
    z-index: 11000;
    left: 50%;
    margin-left: -3.14rem;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: .12rem;
    -webkit-transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    color: #666;
    display: block;
    background: #ffffff;
  }
  .seckill-frame {
    width: 100%;
    height: 100%;
    position: relative;
    .line-frame {
      width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      .seckill-button {
        width: 3.64rem;
        height: .8rem;
        line-height: .8rem;
        border: 1px solid #B80E2C;
        border-radius: .04rem;
        color: #B80E2C;
        margin-top: .62rem
      }
    }
    .seckilol-close {
      width: .8rem;
      height: .8rem;
      position: absolute;
      right: 0;
      top: -.4rem;
      background: url("../img/seckill-icon4.png") no-repeat center center
      #fff;
      background-size: .3rem;
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
      display: inline-block;
      cursor: pointer
    }
    .seckill-icon1 {
      width: 6.28rem;
      height: .78rem;
      background: url("../img/seckill-icon1.png") no-repeat center center;
      background-size: .78rem;
      display: inline-block;
      margin-top: 1.54rem
    }
    .seckill-icon2 {
      width: 6.28rem;
      height: .78rem;
      background: url("../img/seckill-icon2.png") no-repeat center center;
      background-size: .78rem;
      display: inline-block;
      margin-top: 1.54rem
    }
    .seckill-word {
      width: 100%;
      line-height: .42rem;
      height: 1.68rem;
      font-size: .3rem;
      color: #191919;
      padding: 0 1.04rem;
      text-align: center;
      margin-top: .32rem
    }
    .grey-font {
      font-size: .24rem;
      color: #4f4f4f
    }
    .seckill-cooltime {
      font-size: .3rem;
      color: #D46A7D
    }
  }
  .mark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999
  }
  .mackSpikeCode{
    width: 6.28rem;
    height: 5.05rem;
    position: fixed;
    z-index: 11000;
    left: 50%;
    margin-left: -3.14rem;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: .12rem;
    -webkit-transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    color: #666;
    display: none;
    background: #ffffff;
    .spikeCode{
      width: 100%;
      height: 100%;
      border: 0;border-radius: .15rem;
    }
    .seckilol-closes{
      width: .8rem;
      height: .8rem;
      position: fixed;
      left: 50%;
      margin-left: -.4rem;
      bottom: -1.2rem;
      background: url(../img/seckill-icon4.png) no-repeat center center #fff;
      background-size: .3rem;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      z-index: 1000;
    }
  }
}
